@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Montserrat" - font-family: "Bebas Neue" */

* {
    padding: 0;
    margin: 0;
}

:root {
    --font_titles: "Bebas Neue";
    --font_primary: "Montserrat";
    --black: #000;
    --dark_grey: #0D0D0D;
    --strong_red: #F20519;
    --medium_red: #F20530;
    --light: #F2F2F2;
}

header {
    background-color: var(--black);
    position: fixed;
    width: 100%;
}

.active {
    color: var(--strong_red) !important;
}

.line {
    width: 80px;
    height: 1px;
    margin: 0 5px 0 0;
    background-color: var(--strong_red);
}

.side {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.emphasis {
    color: var(--strong_red);
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .topo {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-family: var(--font_primary);
        text-transform: uppercase;
        font-size: larger;

        div {
            a {
                img {
                    width: 120px;
                }
            }
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            li a {
                margin: 0 10px;
                text-decoration: none;
                color: white;
            }

            li a:hover {
                transition: 1s;
                transform: scale(1.2);
                color: var(--strong_red);
            }
        }

        div {
            display: flex;
            margin: 0 5px;
            align-items: center;
            text-align: center;

            .matricula a,
            .login a {
                text-decoration: none;
                text-decoration: none;
                color: white;
                align-items: center;
            }

            .login a i {
                margin: 5px;
            }

            .matricula a:hover,
            .login a:hover {
                transition: 1s;
                color: var(--strong_red);
            }
        }
    }
}

.start {
    height: 760px;
    background-image: url(../img/banner_home.svg);
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 10px 10px 10px 10px black;
    padding: 105px 0 0 0;
    color: white;

    .site {
        .redes_sociais {
            ul li {
                font-size: 21pt;
                margin: 25px 0;

                i {
                    color: white;
                }
            }
        }

        .titles_banner {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 760px;
            flex-direction: column;
            text-transform: uppercase;

            h2 {
                font-size: 20pt;
                font-family: var(--font_titles);
            }

            div:nth-child(1) {
                display: flex;
                align-items: center;
                text-align: center;
            }

            div:nth-child(2) {
                .carrousel_banner {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 48pt;
                        font-family: var(--font_titles);
                    }
                }
            }
        }
    }
}