@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Montserrat" - font-family: "Bebas Neue" */

* {
    padding: 0;
    margin: 0;
}

:root {
    --font_titles: "Bebas Neue";
    --font_primary: "Montserrat";
    --black: #000;
    --dark_grey: #0D0D0D;
    --strong_red: #F20519;
    --medium_red: #F20530;
    --transparent_red: rgba(242, 5, 25, 0.5);
    --light: #F2F2F2;
}

body {
    background: var(--dark_grey);
}

header {
    background-color: var(--black);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
}

.active {
    color: var(--strong_red) !important;
}

.line {
    width: 80px;
    height: 1px;
    margin: 0 5px 0 0;
    background-color: var(--strong_red);
}

.side {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.emphasis {
    color: var(--strong_red);
}

.space {
    padding: 10px;
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .topo {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-family: var(--font_primary);
        text-transform: uppercase;
        font-size: larger;
        z-index: 10px;

        div {
            a {
                img {
                    width: 120px;
                }
            }
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            li a {
                margin: 0 10px;
                text-decoration: none;
                color: white;
            }

            li a:hover {
                transition: 1s;
                transform: scale(1.2);
                color: var(--strong_red);
            }
        }

        div {
            display: flex;
            margin: 0 10px;
            align-items: center;
            text-align: center;

            .matricula a,
            .login a {
                text-decoration: none;
                text-decoration: none;
                color: white;
                align-items: center;
            }

            .login a i {
                margin: 5px;
            }

            .matricula a:hover,
            .login a:hover {
                transition: 1s;
                color: var(--strong_red);
            }
        }
    }
}

.start {
    height: 500px;
    background-image: url(../img/banner_home1.svg);
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 10px 10px 10px 10px black;
    padding: 105px 0 0 0;
    color: white;
    margin-top: 50px;

    .site {
        .side {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;

            .redes_sociais {
                position: absolute;
                top: 10%;
                left: 5%;
                transform: translateX(-50%);

                ul li {
                    font-size: 21pt;
                    margin: 25px 0;

                    i {
                        color: white;
                    }
                }
            }

            .titles_banner {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-grow: 1;
                height: auto;
                flex-direction: column;
                text-transform: uppercase;
                max-width: 60%;

                h2 {
                    font-size: 20pt;
                    font-family: var(--font_titles);
                }

                div:nth-child(1) {
                    align-items: center;
                    text-align: center;
                }

                div:nth-child(2) {
                    .carrousel_banner {
                        display: flex;
                        flex-direction: column;

                        .txt_coluns {
                            display: flex;
                            flex-direction: column;

                            h3 {
                                font-size: 48pt;
                                font-family: var(--font_titles);
                                color: white;
                            }
                        }
                    }
                }

                div:nth-child(4) {
                    .button {
                        align-items: center;
                        text-align: center;
                        padding: -1em 2em;
                        border: none;
                        border-radius: 5px;
                        font-weight: bold;
                        letter-spacing: 5px;
                        text-transform: uppercase;
                        cursor: pointer;
                        color: white;
                        transition: all 1000ms;
                        font-size: 12px;
                        overflow: hidden;
                        outline: 2px solid var(--strong_red);
                    }

                    button:hover {
                        color: #ffffff;
                        transform: scale(1.1);
                        outline: 2px solid var(--strong_red);
                        box-shadow: 4px 5px 17px -4px var(--transparent_red);
                    }

                    button::before {
                        content: "";
                        position: absolute;
                        left: -50px;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background-color: var(--medium_red);
                        transform: skewX(45deg);
                        z-index: -1;
                        transition: width 1000ms;
                    }

                    button:hover::before {
                        width: 250%;
                    }

                    button {
                        width: 250px;
                        height: 50px;
                        border-radius: 20px;
                        margin: 15px 0 0 0;
                        border: none;
                        background-color: var(--transparent_red);
                        cursor: pointer;
                        color: white;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-family: var(--font_primary);

                        i {
                            font-size: 10pt;
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

.sobre_nos {
    .space {
        padding: 20px;
    }

    .site {
        .side {
            .sobre_txt {
                div:nth-child(1) {
                    display: flex;
                    align-items: center;

                    h2 {
                        font-size: 20pt;
                        font-family: var(--font_titles);
                        color: var(--light);
                    }
                }

                div:nth-child(2) {
                    h3 {
                        font-size: 48pt;
                        font-family: var(--font_titles);
                        color: var(--light);
                        text-align: left;

                    }
                }

                div:nth-child(3) {
                    width: 500px;
                    text-align: start;

                    p {
                        padding: 10px 0 15px 0;

                        color: var(--light);
                        font-family: var(--font_primary);
                        text-indent: initial;
                        font-size: 20pt;
                    }
                }

                div:nth-child(4) {
                    display: flex;
                    flex-direction: column;
                    text-align: start;


                    i {
                        color: var(--strong_red);
                    }

                    p {
                        color: var(--light);
                        font-family: var(--font_primary);
                        align-items: start;
                        margin: 0 0 15px 0;
                        font-size: 20px;
                    }
                }
            }

            .sobre_img {
                div:nth-child(1) {
                    img: after
                }
            }
        }
    }
}