@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Montserrat" - font-family: "Bebas Neue" */

* {
    padding: 0;
    margin: 0;
}

:root {
    --font_titles: "Bebas Neue";
    --font_primary: "Montserrat";
    --black: #000;
    --dark_grey: #0D0D0D;
    --strong_red: #F20519;
    --medium_red: #F20530;
    --transparent_red: rgba(242, 5, 25, 0.5);
    --light: #F2F2F2;
}

body {
    background: var(--dark_grey);
}

header {
    background-color: var(--black);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
}

.active {
    color: var(--strong_red) !important;
    font-weight: 500;
}

.line {
    width: 80px;
    height: 1px;
    margin: 0 5px 0 0;
    background-color: var(--strong_red);
}

.side {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.emphasis {
    color: var(--strong_red);
}

.space {
    padding: 10px;
}

.site {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .topo {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-family: var(--font_primary);
        text-transform: uppercase;
        font-size: larger;
        z-index: 10px;

        div {
            a {
                img {
                    width: 120px;
                }
            }
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            li a {
                margin: 0 10px 0 5px;
                text-decoration: none;
                color: white;
                font-weight: 500;
            }

            li a:hover {
                transition: 0.2s;
                transform: scale(1.05);
                color: var(--strong_red);
            }
        }

        div {
            display: flex;
            margin: 0 10px;
            align-items: center;
            text-align: center;

            .matricula a,
            .login a {
                text-decoration: none;
                text-decoration: none;
                color: white;
                align-items: center;
                font-weight: 500;
            }

            .login a i {
                margin: 5px;
            }

            .matricula a:hover,
            .login a:hover {
                transition: 1s;
                color: var(--strong_red);
            }
        }
    }
}

.start {
    height: 500px;
    background-image: url(../img/banner_home1.svg);
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 10px 10px 10px 10px black;
    padding: 105px 0 0 0;
    color: white;
    margin-top: 50px;

    .site {
        .side {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;

            .redes_sociais {
                position: absolute;
                top: 10%;
                left: 5%;
                transform: translateX(-50%);

                ul li {
                    font-size: 21pt;
                    margin: 25px 0;

                    i {
                        color: white;
                    }
                }
            }

            .hvr-underline-from-left {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
                overflow: hidden;
            }

            .titles_banner {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                flex-grow: 1;
                height: auto;
                flex-direction: column;
                text-transform: uppercase;
                max-width: 60%;

                h2 {
                    font-size: 20pt;
                    font-family: var(--font_titles);
                }

                div:nth-child(1) {
                    align-items: center;
                    text-align: center;
                }

                div:nth-child(2) {
                    .carrousel_banner {
                        display: flex;
                        flex-direction: column;

                        .txt_coluns {
                            display: flex;
                            flex-direction: column;

                            h3 {
                                font-size: 48pt;
                                font-family: var(--font_titles);
                                color: white;
                            }
                        }
                    }
                }

                div:nth-child(4) {
                    .button {
                        align-items: center;
                        text-align: center;
                        padding: -1em 2em;
                        border: none;
                        border-radius: 5px;
                        font-weight: bold;
                        letter-spacing: 5px;
                        text-transform: uppercase;
                        cursor: pointer;
                        color: white;
                        transition: all 1000ms;
                        font-size: 12px;
                        overflow: hidden;
                        outline: 2px solid var(--strong_red);
                    }

                    button:hover {
                        color: #ffffff;
                        transform: scale(1.1);
                        outline: 2px solid var(--strong_red);
                        box-shadow: 4px 5px 17px -4px var(--transparent_red);
                    }

                    button::before {
                        content: "";
                        position: absolute;
                        left: -50px;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background-color: var(--medium_red);
                        transform: skewX(45deg);
                        z-index: -1;
                        transition: width 1000ms;
                    }

                    button:hover::before {
                        width: 250%;
                    }

                    button {
                        width: 250px;
                        height: 50px;
                        border-radius: 20px;
                        margin: 15px 0 0 0;
                        border: none;
                        background-color: var(--transparent_red);
                        cursor: pointer;
                        color: white;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-family: var(--font_primary);

                        i {
                            font-size: 10pt;
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.sobre_nos {
    .space {
        padding: 20px;
    }

    .site {
        .side {
            justify-content: space-evenly;
            align-items: self-start;
            height: 500px;

            .sobre_txt {
                div:nth-child(1) {
                    display: flex;
                    align-items: center;

                    h2 {
                        font-size: 20pt;
                        font-family: var(--font_titles);
                        color: var(--light);
                    }
                }

                div:nth-child(2) {
                    h3 {
                        font-size: 48pt;
                        font-family: var(--font_titles);
                        color: var(--light);
                        text-align: left;

                    }
                }

                div:nth-child(3) {
                    width: 500px;
                    text-align: start;

                    p {
                        padding: 10px 0 15px 0;
                        color: var(--light);
                        font-family: var(--font_primary);
                        text-indent: initial;
                        font-size: 18pt;
                    }
                }

                div:nth-child(4) {
                    display: flex;
                    flex-direction: column;
                    text-align: start;

                    i {
                        color: var(--strong_red);
                    }

                    p {
                        color: var(--light);
                        font-family: var(--font_primary);
                        align-items: start;
                        margin: 0 0 15px 0;
                        font-size: 20px;
                    }

                    p:hover {
                        transition: all 0.5s ease-in-out;
                        color: var(--medium_red);
                        transition: transform 1s;
                        transform: scale(1.05);
                    }
                }
            }

            .sobre_img {
                .imagem-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 400px;
                    height: 400px;
                    overflow: hidden;
                    margin: 0 auto;

                    .main-image {
                        width: 370px;
                        height: auto;
                        display: block;
                        position: relative;
                        z-index: 2;
                        transition: transform 0.3s ease-in-out;
                    }

                    .bg-before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: -30px;
                        width: 300px;
                        height: 250px;
                        background: url("../img/background_ponts.svg") no-repeat;
                        background-size: cover;
                        z-index: 1;
                        transition: transform 0.3s ease-in-out;
                        opacity: 1;
                    }

                    .bg-after {
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        right: -20px;
                        width: 280px;
                        height: 250px;
                        background: url("../img/background_red.svg") no-repeat;
                        background-size: cover;
                        z-index: 0;
                        transition: transform 0.3s ease-in-out;
                        opacity: 1;
                    }

                    &:hover {
                        .main-image.hvr-grow-rotate {
                            transition: transform 0.3s ease-in-out;
                        }

                        .main-image.hvr-grow-rotate:hover {
                            -webkit-transform: scale(0.5) rotate(1deg);
                            transform: scale(1.1) rotate(2deg);
                        }
                    }
                }

                div:nth-child(2) {
                    margin: 30px 0 0 0;
                    background: var(--transparent_red);
                    width: 500px;
                    height: 40px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;

                    p {
                        text-transform: uppercase;
                        color: var(--light);
                        font-family: var(--font_primary);
                        font-size: 16pt;
                        font-weight: 300;
                    }
                }
            }
        }

        .counter-container {
            display: flex;
            justify-content: center;
            gap: 50px;

            .counter-box {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                position: relative;

                p {
                    color: white;
                    font-family: var(--font_titles);
                }
            }

            .counter-box span {
                font-size: 32px;
                color: white;
                font-family: var(--font_titles);
            }

            .separator {
                width: 2px;
                height: 50px;
                background-color: var(--strong_red);
                margin: 0 25px;
            }
        }
    }
}

.aulas {
    background-image: url(../img/bg_aulas.svg);

    .space {
        padding: 50px;
    }

    .site {
        .titles_aulas {
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 18pt;
                font-family: var(--font_titles);
                color: var(--light);
            }

            h3 {
                font-size: 48pt;
                font-family: var(--font_titles);
                color: white;
                margin: 0 0 5px 0;
            }
        }

        .side {
            .box_aulas {
                width: 450px;
                height: 450px;
                /* background: red;; */
                border-radius: 5px;

                img {
                    height: 450px;
                    border-radius: 5px;
                }
            }
        }
    }
}
